OPENROUTER_API_KEY=your_openrouter_api_key_here
HSK_RPC_URL=https://testnet.hsk.xyz
HSK_CHAIN_ID=133
HSK_EXPLORER=https://testnet-explorer.hsk.xyz
PORT=3000
COINGECKO_API_KEY=your_coingecko_demo_api_key_here
DEPLOYER_PRIVATE_KEY=your_wallet_private_key_here
